.backgorund-login {
  background: gray;
}

@media (max-width: 500px) {
  .card-login {
    width: 300px !important;
  }
}
.card-login{
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.err_msg_login{
  color: darkred;alignment: center
}

.example-full-width{
  width: 100%;
}

