<ngx-spinner></ngx-spinner>
<div class="card-login">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="login_title">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="message !== null" class="err_msg_login">{{message}}</p>
      <form [formGroup]="loginForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" name="email" formControlName="email" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Clave" type="password" name="clave" formControlName="clave" required>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary" *ngIf="!registerButton">Login</button>
      <button mat-raised-button (click)="register()" color="secondary" *ngIf="registerButton">Registrar</button>
    </mat-card-actions>
  </mat-card>
</div>
